<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.gxzh.jxvueserver.mapper.CompareMapper">


    <select id="selectLdzs" resultType="com.gxzh.jxvueserver.entity.Ldzs" parameterType="java.lang.String">
        <choose>
        <when test="depcode.length()==3">
            select substr(geocode,0,4)||'00' code,
            decode((substr(geocode,0,4)||'00'),#{code},(select desp from geocode g where g.code =
            (substr(geocode,0,4)||'00'))||'(本级)',(select desp from geocode g where g.code =
            (substr(geocode,0,4)||'00'))) as desp,
            (select decode(substr(code, 3, 4), '0000', 0, g.dis_order)
            from geocode g
            where g.code = substr(geocode,0,4)||'00') dis_order,
            nvl(sum(DZQ_BZ), 0) xzbz,


            case
            WHEN (NVL(sum(DZQ_BZ),
            0))!=0 THEN round(
            (sum(SBJZZBZ) + sum(SBJFZBZ) + sum(TJJZZBZ) + sum(TJJFZBZ) + sum(XCJZZBZ) +
            sum(XCJFZBZ) + sum(XKJZZBZ) + sum(XKJFZBZ) + sum(GJZZBZ) + sum(GJFZBZ) + sum(WDJBZS) +
            sum(QTBZS)) /
            (sum(DZQ_BZ))
            , 5) * 10000
            ELSE 0 END                           xzpbz,


            nvl(sum(QEBK_BZ + CEBT_BZ + JFZL_BZ), 0) sybz,


            case
            WHEN (NVL(sum(QEBK_BZ + CEBT_BZ + JFZL_BZ),
            0))!=0 THEN round(
            (sum(SYSBJZZBZ) + sum(SYSBJFZBZ) + sum(SYTJJZZBZ) + sum(SYTJJFZBZ) + sum(SYXCJZZBZ) +
            sum(SYXCJFZBZ) + sum(SYXKJZZBZ) + sum(SYXKJFZBZ) + sum(SYGJZZBZ) + sum(SYGJFZBZ) +
            sum(SYWDJBZS) + sum(SYQTBZS)) /
            (sum(QEBK_BZ + CEBT_BZ + JFZL_BZ))
            , 5) * 10000
            ELSE 0 END                           sypbz
            from (



            select geocode,
            a.jgtype,

            SBJZZBZ as SBJZZBZ,

            SBJFZBZ as SBJFZBZ,

            TJJZZBZ as TJJZZBZ,

            TJJFZBZ as TJJFZBZ,

            XCJZZBZ as XCJZZBZ,

            XCJFZBZ as XCJFZBZ,

            XKJZZBZ as XKJZZBZ,

            XKJFZBZ as XKJFZBZ,

            GJZZBZ  as GJZZBZ,

            GJFZBZ  as GJFZBZ,

            WDJBZS  as WDJBZS,
            QTBZS   as QTBZS,


            0         as SYSBJZZBZ,

            0         as SYSBJFZBZ,

            0         as SYTJJZZBZ,

            0         as SYTJJFZBZ,

            0         as SYXCJZZBZ,

            0         as SYXCJFZBZ,

            0         as SYXKJZZBZ,

            0         as SYXKJFZBZ,

            0         as SYGJZZBZ,

            0         as SYGJFZBZ,

            0         as SYWDJBZS,
            0         as SYQTBZS,

            dzq_bz    as DZQ_BZ,

            qebk_bz   as QEBK_BZ,
            cebt_bz   as CEBT_BZ,
            jfzl_bz   as JFZL_BZ


            from (select d.code   as                               geocode,
            decode(t.jgtype, 'jdxz', 'local','lo_next','local', jgtype) jgtype,
            t.dzq_bz+t.ga_bz+t.jcy_bz+t.fy_bz+t.sf_bz as                               dzq_bz,

            t.qebk_bz,
            t.cebt_bz,
            t.jfzl_bz,
            b.SBJZZBZ as SBJZZBZ,

            b.SBJFZBZ as SBJFZBZ,

            b.TJJZZBZ as TJJZZBZ,

            b.TJJFZBZ as TJJFZBZ,

            b.XCJZZBZ as XCJZZBZ,

            b.XCJFZBZ as XCJFZBZ,

            b.XKJZZBZ as XKJZZBZ,

            b.XKJFZBZ as XKJFZBZ,

            b.GJZZBZ  as GJZZBZ,

            b.GJFZBZ  as GJFZBZ,

            b.WDJBZS  as WDJBZS,
            b.QTBZS   as QTBZS,


            0         as SYSBJZZBZ,

            0         as SYSBJFZBZ,

            0         as SYTJJZZBZ,

            0         as SYTJJFZBZ,

            0         as SYXCJZZBZ,

            0         as SYXCJFZBZ,

            0         as SYXKJZZBZ,

            0         as SYXKJFZBZ,

            0         as SYGJZZBZ,

            0         as SYGJFZBZ,

            0         as SYWDJBZS,
            0         as SYQTBZS


            from V_bzzz t
            left join bmldzs b
            on t.jgsy_code = b.jgsy_code
            left join geocode d on d.code = t.geocode
            where t.geocode like #{depcode} and t.jgtype != 'sy'

            ) a


            union all
            select geocode,
            a.jgtype,

            0            SBJZZBZ,

            0            SBJFZBZ,

            0            TJJZZBZ,

            0            TJJFZBZ,

            0            XCJZZBZ,

            0            XCJFZBZ,

            0            XKJZZBZ,

            0            XKJFZBZ,

            0            GJZZBZ,

            0            GJFZBZ,

            0            WDJBZS,
            0            QTBZS,


            SYSBJZZBZ as SYSBJZZBZ,

            SYSBJFZBZ as SYSBJFZBZ,

            SYTJJZZBZ as SYTJJZZBZ,

            SYTJJFZBZ as SYTJJFZBZ,

            SYXCJZZBZ as SYXCJZZBZ,

            SYXCJFZBZ as SYXCJFZBZ,

            SYXKJZZBZ as SYXKJZZBZ,

            SYXKJFZBZ as SYXKJFZBZ,

            SYGJZZBZ  as SYGJZZBZ,

            SYGJFZBZ  as SYGJFZBZ,

            SYWDJBZS  as SYWDJBZS,
            SYQTBZS   as SYQTBZS,

            dzq_bz    as DZQ_BZ,

            qebk_bz   as QEBK_BZ,
            cebt_bz   as CEBT_BZ,
            jfzl_bz   as JFZL_BZ


            from (
            select d.code as                            geocode,
            t.jgtype,
            0      as                            dzq_bz,

            t.qebk_bz,
            t.cebt_bz,
            t.jfzl_bz,
            0            SBJZZBZ,

            0            SBJFZBZ,

            0            TJJZZBZ,

            0            TJJFZBZ,

            0            XCJZZBZ,

            0            XCJFZBZ,

            0            XKJZZBZ,

            0            XKJFZBZ,

            0            GJZZBZ,

            0            GJFZBZ,

            0            WDJBZS,
            0            QTBZS,


            b.SBJZZBZ as SYSBJZZBZ,

            b.SBJFZBZ as SYSBJFZBZ,

            b.TJJZZBZ as SYTJJZZBZ,

            b.TJJFZBZ as SYTJJFZBZ,

            b.XCJZZBZ as SYXCJZZBZ,

            b.XCJFZBZ as SYXCJFZBZ,

            b.XKJZZBZ as SYXKJZZBZ,

            b.XKJFZBZ as SYXKJFZBZ,

            b.GJZZBZ  as SYGJZZBZ,

            b.GJFZBZ  as SYGJFZBZ,

            b.WDJBZS  as SYWDJBZS,
            b.QTBZS   as SYQTBZS


            from V_bzzz t
            left join bmldzs b
            on t.jgsy_code = b.jgsy_code
            left join geocode d on d.code = t.geocode
            where d.code like #{depcode} and t.jgtype = 'sy'

            ) a

            ) rs
            group by substr(geocode,0,4)

            order by dis_order
        </when>
        <otherwise>

            select geocode code,
            decode(geocode,#{code},(select desp from geocode g where g.code = geocode)||'(本级)',(select desp from
            geocode g where g.code = geocode)) as desp,
            (select decode(substr(code, 5, 2), '00', 0, g.dis_order)
            from geocode g
            where g.code = geocode) dis_order,
            nvl(sum(DZQ_BZ), 0) xzbz,


            case
            WHEN (NVL(sum(DZQ_BZ),
            0))!=0 THEN round(
            (sum(SBJZZBZ) + sum(SBJFZBZ) + sum(TJJZZBZ) + sum(TJJFZBZ) + sum(XCJZZBZ) +
            sum(XCJFZBZ) + sum(XKJZZBZ) + sum(XKJFZBZ) + sum(GJZZBZ) + sum(GJFZBZ) + sum(WDJBZS) +
            sum(QTBZS)) /
            (sum(DZQ_BZ))
            , 5) * 10000
            ELSE 0 END                           xzpbz,


            nvl(sum(QEBK_BZ + CEBT_BZ + JFZL_BZ), 0) sybz,


            case
            WHEN (NVL(sum(QEBK_BZ + CEBT_BZ + JFZL_BZ),
            0))!=0 THEN round(
            (sum(SYSBJZZBZ) + sum(SYSBJFZBZ) + sum(SYTJJZZBZ) + sum(SYTJJFZBZ) + sum(SYXCJZZBZ) +
            sum(SYXCJFZBZ) + sum(SYXKJZZBZ) + sum(SYXKJFZBZ) + sum(SYGJZZBZ) + sum(SYGJFZBZ) +
            sum(SYWDJBZS) + sum(SYQTBZS)) /
            (sum(QEBK_BZ + CEBT_BZ + JFZL_BZ))
            , 5) * 10000
            ELSE 0 END                           sypbz
            from (



            select geocode,
            a.jgtype,

            SBJZZBZ as SBJZZBZ,

            SBJFZBZ as SBJFZBZ,

            TJJZZBZ as TJJZZBZ,

            TJJFZBZ as TJJFZBZ,

            XCJZZBZ as XCJZZBZ,

            XCJFZBZ as XCJFZBZ,

            XKJZZBZ as XKJZZBZ,

            XKJFZBZ as XKJFZBZ,

            GJZZBZ  as GJZZBZ,

            GJFZBZ  as GJFZBZ,

            WDJBZS  as WDJBZS,
            QTBZS   as QTBZS,


            0         as SYSBJZZBZ,

            0         as SYSBJFZBZ,

            0         as SYTJJZZBZ,

            0         as SYTJJFZBZ,

            0         as SYXCJZZBZ,

            0         as SYXCJFZBZ,

            0         as SYXKJZZBZ,

            0         as SYXKJFZBZ,

            0         as SYGJZZBZ,

            0         as SYGJFZBZ,

            0         as SYWDJBZS,
            0         as SYQTBZS,

            dzq_bz    as DZQ_BZ,

            qebk_bz   as QEBK_BZ,
            cebt_bz   as CEBT_BZ,
            jfzl_bz   as JFZL_BZ


            from (select d.code   as                               geocode,
            decode(t.jgtype, 'jdxz', 'local','lo_next','local', jgtype) jgtype,
            t.dzq_bz+t.ga_bz+t.jcy_bz+t.fy_bz+t.sf_bz as                               dzq_bz,

            t.qebk_bz,
            t.cebt_bz,
            t.jfzl_bz,
            b.SBJZZBZ as SBJZZBZ,

            b.SBJFZBZ as SBJFZBZ,

            b.TJJZZBZ as TJJZZBZ,

            b.TJJFZBZ as TJJFZBZ,

            b.XCJZZBZ as XCJZZBZ,

            b.XCJFZBZ as XCJFZBZ,

            b.XKJZZBZ as XKJZZBZ,

            b.XKJFZBZ as XKJFZBZ,

            b.GJZZBZ  as GJZZBZ,

            b.GJFZBZ  as GJFZBZ,

            b.WDJBZS  as WDJBZS,
            b.QTBZS   as QTBZS,


            0         as SYSBJZZBZ,

            0         as SYSBJFZBZ,

            0         as SYTJJZZBZ,

            0         as SYTJJFZBZ,

            0         as SYXCJZZBZ,

            0         as SYXCJFZBZ,

            0         as SYXKJZZBZ,

            0         as SYXKJFZBZ,

            0         as SYGJZZBZ,

            0         as SYGJFZBZ,

            0         as SYWDJBZS,
            0         as SYQTBZS


            from V_bzzz t
            left join bmldzs b
            on t.jgsy_code = b.jgsy_code
            left join geocode d on d.code = t.geocode
            where t.geocode like #{depcode} and t.jgtype != 'sy'

            ) a


            union all
            select geocode,
            a.jgtype,

            0            SBJZZBZ,

            0            SBJFZBZ,

            0            TJJZZBZ,

            0            TJJFZBZ,

            0            XCJZZBZ,

            0            XCJFZBZ,

            0            XKJZZBZ,

            0            XKJFZBZ,

            0            GJZZBZ,

            0            GJFZBZ,

            0            WDJBZS,
            0            QTBZS,


            SYSBJZZBZ as SYSBJZZBZ,

            SYSBJFZBZ as SYSBJFZBZ,

            SYTJJZZBZ as SYTJJZZBZ,

            SYTJJFZBZ as SYTJJFZBZ,

            SYXCJZZBZ as SYXCJZZBZ,

            SYXCJFZBZ as SYXCJFZBZ,

            SYXKJZZBZ as SYXKJZZBZ,

            SYXKJFZBZ as SYXKJFZBZ,

            SYGJZZBZ  as SYGJZZBZ,

            SYGJFZBZ  as SYGJFZBZ,

            SYWDJBZS  as SYWDJBZS,
            SYQTBZS   as SYQTBZS,

            dzq_bz    as DZQ_BZ,

            qebk_bz   as QEBK_BZ,
            cebt_bz   as CEBT_BZ,
            jfzl_bz   as JFZL_BZ


            from (
            select d.code as                            geocode,
            t.jgtype,
            0      as                            dzq_bz,

            t.qebk_bz,
            t.cebt_bz,
            t.jfzl_bz,
            0            SBJZZBZ,

            0            SBJFZBZ,

            0            TJJZZBZ,

            0            TJJFZBZ,

            0            XCJZZBZ,

            0            XCJFZBZ,

            0            XKJZZBZ,

            0            XKJFZBZ,

            0            GJZZBZ,

            0            GJFZBZ,

            0            WDJBZS,
            0            QTBZS,


            b.SBJZZBZ as SYSBJZZBZ,

            b.SBJFZBZ as SYSBJFZBZ,

            b.TJJZZBZ as SYTJJZZBZ,

            b.TJJFZBZ as SYTJJFZBZ,

            b.XCJZZBZ as SYXCJZZBZ,

            b.XCJFZBZ as SYXCJFZBZ,

            b.XKJZZBZ as SYXKJZZBZ,

            b.XKJFZBZ as SYXKJFZBZ,

            b.GJZZBZ  as SYGJZZBZ,

            b.GJFZBZ  as SYGJFZBZ,

            b.WDJBZS  as SYWDJBZS,
            b.QTBZS   as SYQTBZS


            from V_bzzz t
            left join bmldzs b
            on t.jgsy_code = b.jgsy_code
            left join geocode d on d.code = t.geocode
            where d.code like #{depcode} and t.jgtype = 'sy'

            ) a

            ) rs
            group by geocode

            order by dis_order
        </otherwise>
        </choose>
    </select>


    <select id="selectXzbzpzbd" resultType="com.gxzh.jxvueserver.entity.Xzbzpzbd" parameterType="java.lang.String">
        <choose>
            <when test="depcode.length()==3">
                select substr(geocode,0,4)||'00'   code,
                decode((substr(geocode,0,4)||'00'),#{code},(select desp from geocode g where g.code = (substr(geocode,0,4)||'00'))||'(本级)',(select desp from geocode g where g.code = (substr(geocode,0,4)||'00'))) as desp,
                (select decode(substr(code, 5, 2), '00', 0, g.dis_order)
                from geocode g
                where g.code = substr(geocode,0,4)||'00')                 dis_order,

                sum(dzq_bz) as           dzq_bz,
                sum(ga_bz)  as           gabz,
                sum(jcy_bz) as           jcybz,
                sum(fy_bz)  as           fybz,
                sum(sf_bz)  as           sfbz

                from (select d.code as                                 geocode,
                d.desp as                                 desp,
                decode(t.jgtype, 'jdxz', 'local', jgtype) jgtype,
                nvl(t.dzq_bz, 0)                          dzq_bz,
                nvl(t.ga_bz, 0)                           ga_bz,
                nvl(t.jcy_bz, 0)                          jcy_bz,
                nvl(t.fy_bz, 0)                           fy_bz,
                nvl(t.sf_bz, 0)                           sf_bz


                from geocode d
                left join V_bzzz t on d.code = t.geocode and t.jgtype != 'sy'
                where d.code like #{depcode}
                )

                group by substr(geocode,0,4)

                order by substr(geocode,0,4)

            </when>
            <otherwise>
                select geocode,
                decode(geocode,#{code},(select desp from geocode g where g.code = geocode)||'(本级)',(select desp from geocode g where g.code = geocode)) as desp,
                (select decode(substr(code, 5, 2), '00', 0, g.dis_order)
                from geocode g
                where g.code = geocode) dis_order,

                sum(dzq_bz) as           dzq_bz,
                sum(ga_bz)  as           gabz,
                sum(jcy_bz) as           jcybz,
                sum(fy_bz)  as           fybz,
                sum(sf_bz)  as           sfbz

                from (select d.code as                                 geocode,
                d.desp as                                 desp,
                decode(t.jgtype, 'jdxz', 'local', jgtype) jgtype,
                nvl(t.dzq_bz, 0)                          dzq_bz,
                nvl(t.ga_bz, 0)                           ga_bz,
                nvl(t.jcy_bz, 0)                          jcy_bz,
                nvl(t.fy_bz, 0)                           fy_bz,
                nvl(t.sf_bz, 0)                           sf_bz


                from geocode d
                left join V_bzzz t on d.code = t.geocode and t.jgtype != 'sy'
                where d.code like #{depcode}

                )

                group by geocode
                order by geocode


            </otherwise>
        </choose>


    </select>


    <select id="selectSybzpzbd" resultType="com.gxzh.jxvueserver.entity.Sybzpzbd" parameterType="java.lang.String">
        <choose>
            <when test="depcode.length()==3">
                select  decode((substr(geocode,0,4)||'00'),#{code},(select desp from geocode g where g.code = (substr(geocode,0,4)||'00'))||'(本级)',(select desp from geocode g where g.code = (substr(geocode,0,4)||'00'))) as desp,
                (select decode(substr(code, 5, 2), '00', 0, g.dis_order)
                from geocode g
                where g.code = substr(geocode,0,4)||'00')     dis_order,
                sum(jybz)   as                                      jybz,
                sum(kybz)   as                                      kybz,
                sum(whbz)   as                                      whbz,
                sum(wsbz)   as                                      wsbz,
                sum(nlmsbz) as                                      nlmsbz,
                sum(jtbz)   as                                      jtbz,
                sum(qtbz)   as                                      qtbz
                from (select g.code                                       as geocode,
                g.desp,
                s.hylb,
                nvl(s.QEBKBZRS + s.CZBKBZRS + s.JFZLBZRS, 0) as jybz,
                0                                            as kybz,
                0                                            as whbz,
                0                                            as wsbz,
                0                                            as nlmsbz,
                0                                            as jtbz,
                0                                            as qtbz
                from geocode g
                left join sy s on g.code = s.geo_code and s.hylb like '01%'
                where g.code like #{depcode}

                union all
                select g.code as geocode, g.desp, s.hylb,
                0 as jybz,
                nvl(s.QEBKBZRS+s.CZBKBZRS+s.JFZLBZRS, 0) as kybz,
                0 as whbz,
                0 as wsbz,
                0 as nlmsbz,
                0 as jtbz,
                0 as qtbz
                from geocode g left join sy s
                on g.code=s.geo_code and s.hylb like '02%'
                where g.code like #{depcode}

                union all
                select g.code as geocode, g.desp, s.hylb,
                0 as jybz,
                0 as kybz,
                nvl(s.QEBKBZRS+s.CZBKBZRS+s.JFZLBZRS, 0) as whbz,
                0 as wsbz,
                0 as nlmsbz,
                0 as jtbz,
                0 as qtbz
                from geocode g left join sy s
                on g.code=s.geo_code and s.hylb like '03%'
                where g.code like #{depcode}

                union all
                select g.code as geocode, g.desp, s.hylb,
                0 as jybz,
                0 as kybz,
                0 as whbz,
                nvl(s.QEBKBZRS+s.CZBKBZRS+s.JFZLBZRS, 0) as wsbz,
                0 as nlmsbz,
                0 as jtbz,
                0 as qtbz
                from geocode g left join sy s
                on g.code=s.geo_code and s.hylb like '04%'
                where g.code like #{depcode}

                union all
                select g.code as geocode, g.desp, s.hylb,
                0 as jybz,
                0 as kybz,
                0 as whbz,
                0 as wsbz,
                nvl(s.QEBKBZRS+s.CZBKBZRS+s.JFZLBZRS, 0) as nlmsbz,
                0 as jtbz,
                0 as qtbz
                from geocode g left join sy s
                on g.code=s.geo_code and s.hylb like '17%'
                where g.code like #{depcode}

                union all
                select g.code as geocode, g.desp, s.hylb,
                0 as jybz,
                0 as kybz,
                0 as whbz,
                0 as wsbz,
                0 as nlmsbz,
                nvl(s.QEBKBZRS+s.CZBKBZRS+s.JFZLBZRS, 0) as jtbz,
                0 as qtbz
                from geocode g left join sy s
                on g.code=s.geo_code and s.hylb like '11%'
                where g.code like #{depcode}

                union all
                select g.code as geocode, g.desp, s.hylb,
                0 as jybz,
                0 as kybz,
                0 as whbz,
                0 as wsbz,
                0 as nlmsbz,
                0 as jtbz,
                nvl(s.QEBKBZRS+s.CZBKBZRS+s.JFZLBZRS, 0) as qtbz
                from geocode g left join sy s
                on g.code=s.geo_code and s.hylb like '25%'
                where g.code like #{depcode}

                ) a
                group by substr(geocode,0,4)

                order by substr(geocode,0,4)

            </when>
            <otherwise>
                select   decode(geocode,#{code},(select desp from geocode g where g.code = geocode)||'(本级)',(select desp from geocode g where g.code = geocode)) as desp,
                (select decode(substr(code, 5, 2), '00', 0, g.dis_order)
                from geocode g
                where g.code = geocode) dis_order,
                sum(jybz)   as                                      jybz,
                sum(kybz)   as                                      kybz,
                sum(whbz)   as                                      whbz,
                sum(wsbz)   as                                      wsbz,
                sum(nlmsbz) as                                      nlmsbz,
                sum(jtbz)   as                                      jtbz,
                sum(qtbz)   as                                      qtbz
                from (select g.code                                       as geocode,
                g.desp,
                s.hylb,
                nvl(s.QEBKBZRS + s.CZBKBZRS + s.JFZLBZRS, 0) as jybz,
                0                                            as kybz,
                0                                            as whbz,
                0                                            as wsbz,
                0                                            as nlmsbz,
                0                                            as jtbz,
                0                                            as qtbz
                from geocode g
                left join sy s on g.code = s.geo_code and s.hylb like '01%'
                where g.code like #{depcode}

                union all
                select g.code as geocode, g.desp, s.hylb,
                0 as jybz,
                nvl(s.QEBKBZRS+s.CZBKBZRS+s.JFZLBZRS, 0) as kybz,
                0 as whbz,
                0 as wsbz,
                0 as nlmsbz,
                0 as jtbz,
                0 as qtbz
                from geocode g left join sy s
                on g.code=s.geo_code and s.hylb like '02%'
                where g.code like #{depcode}

                union all
                select g.code as geocode, g.desp, s.hylb,
                0 as jybz,
                0 as kybz,
                nvl(s.QEBKBZRS+s.CZBKBZRS+s.JFZLBZRS, 0) as whbz,
                0 as wsbz,
                0 as nlmsbz,
                0 as jtbz,
                0 as qtbz
                from geocode g left join sy s
                on g.code=s.geo_code and s.hylb like '03%'
                where g.code like #{depcode}

                union all
                select g.code as geocode, g.desp, s.hylb,
                0 as jybz,
                0 as kybz,
                0 as whbz,
                nvl(s.QEBKBZRS+s.CZBKBZRS+s.JFZLBZRS, 0) as wsbz,
                0 as nlmsbz,
                0 as jtbz,
                0 as qtbz
                from geocode g left join sy s
                on g.code=s.geo_code and s.hylb like '04%'
                where g.code like #{depcode}

                union all
                select g.code as geocode, g.desp, s.hylb,
                0 as jybz,
                0 as kybz,
                0 as whbz,
                0 as wsbz,
                nvl(s.QEBKBZRS+s.CZBKBZRS+s.JFZLBZRS, 0) as nlmsbz,
                0 as jtbz,
                0 as qtbz
                from geocode g left join sy s
                on g.code=s.geo_code and s.hylb like '17%'
                where g.code like #{depcode}

                union all
                select g.code as geocode, g.desp, s.hylb,
                0 as jybz,
                0 as kybz,
                0 as whbz,
                0 as wsbz,
                0 as nlmsbz,
                nvl(s.QEBKBZRS+s.CZBKBZRS+s.JFZLBZRS, 0) as jtbz,
                0 as qtbz
                from geocode g left join sy s
                on g.code=s.geo_code and s.hylb like '11%'
                where g.code like #{depcode}

                union all
                select g.code as geocode, g.desp, s.hylb,
                0 as jybz,
                0 as kybz,
                0 as whbz,
                0 as wsbz,
                0 as nlmsbz,
                0 as jtbz,
                nvl(s.QEBKBZRS+s.CZBKBZRS+s.JFZLBZRS, 0) as qtbz
                from geocode g left join sy s
                on g.code=s.geo_code and s.hylb like '25%'
                where g.code like #{depcode}

                ) a
                group by geocode
                order by geocode


            </otherwise>
        </choose>

    </select>


    <select id="selectRkBzZb" resultType="com.gxzh.jxvueserver.entity.Rkbz" parameterType="java.lang.String">
        <choose>
        <when test="depcode.length()==3">
            select substr(geocode,0,4)||'00'   code,
            decode((substr(geocode,0,4)||'00'),#{code},(select desp from geocode g where g.code = (substr(geocode,0,4)||'00'))||'(本级)',(select desp from geocode g where g.code = (substr(geocode,0,4)||'00'))) as desp,
            (select decode(substr(code, 5, 2), '00', 0, g.dis_order)
            from geocode g
            where g.code = substr(geocode,0,4)||'00')                 dis_order,
            nvl(sum(population), 0)                population,
            nvl(sum(xz_bz), 0)                      xzbz,
            nvl(sum(QEBK_BZ + CEBT_BZ + JFZL_BZ), 0) sybz

            from

            (

            select rs.geocode as geocode,rs.jgtype as jgtype,geo.population as population, rs.xz_bz as xz_bz,rs.QEBK_BZ as QEBK_BZ,
            rs.CEBT_BZ as CEBT_BZ,rs.JFZL_BZ as JFZL_BZ


            from  (
            select geocode,
            a.jgtype as jgtype,
            xz_bz    as xz_bz,
            qebk_bz   as QEBK_BZ,
            cebt_bz   as CEBT_BZ,
            jfzl_bz   as JFZL_BZ


            from (select d.code   as                               geocode,
            decode(t.jgtype, 'jdxz', 'local', jgtype) jgtype,
            t.dzq_bz+t.ga_bz+t.jcy_bz+t.fy_bz+t.sf_bz  as   xz_bz,

            decode(t.jgtype, 'sy', t.qebk_bz, 0)      qebk_bz,
            decode(t.jgtype, 'sy', t.cebt_bz, 0)      cebt_bz,
            decode(t.jgtype, 'sy', t.jfzl_bz, 0)      jfzl_bz


            from geocode d
            left join V_bzzz t on d.code = t.geocode and t.jgtype != 'sy'
            where d.code like #{depcode}

            ) a


            union all
            select geocode,
            a.jgtype as jgtype,
            xz_bz    as DZQ_BZ,
            qebk_bz   as QEBK_BZ,
            cebt_bz   as CEBT_BZ,
            jfzl_bz   as JFZL_BZ
            from (
            select d.code as                            geocode,
            t.jgtype,
            0      as                            xz_bz,

            decode(t.jgtype, 'sy', t.qebk_bz, 0) qebk_bz,
            decode(t.jgtype, 'sy', t.cebt_bz, 0) cebt_bz,
            decode(t.jgtype, 'sy', t.jfzl_bz, 0) jfzl_bz


            from geocode d
            left join V_bzzz t on d.code = t.geocode and t.jgtype = 'sy'
            where d.code like #{depcode}

            ) a
            ) rs  left join geo_situation geo on geo.depcode=rs.geocode) res
            group by substr(geocode,0,4)

            order by substr(geocode,0,4)

        </when>
        <otherwise>
            select geocode   code,
            decode(geocode,#{code},(select desp from geocode g where g.code = geocode)||'(本级)',(select desp from geocode g where g.code = geocode)) as desp,
            (select decode(substr(code, 5, 2), '00', 0, g.dis_order)
            from geocode g
            where g.code = geocode )              dis_order,
            nvl(sum(population), 0)                population,
            nvl(sum(xz_bz), 0)                      xzbz,
            nvl(sum(QEBK_BZ + CEBT_BZ + JFZL_BZ), 0) sybz

            from

            (

            select rs.geocode as geocode,rs.jgtype as jgtype,geo.population as population, rs.xz_bz as xz_bz,rs.QEBK_BZ as QEBK_BZ,
            rs.CEBT_BZ as CEBT_BZ,rs.JFZL_BZ as JFZL_BZ


            from  (
            select geocode,
            a.jgtype as jgtype,
            xz_bz    as xz_bz,
            qebk_bz   as QEBK_BZ,
            cebt_bz   as CEBT_BZ,
            jfzl_bz   as JFZL_BZ


            from (select d.code   as                               geocode,
            decode(t.jgtype, 'jdxz', 'local', jgtype) jgtype,
            t.dzq_bz+t.ga_bz+t.jcy_bz+t.fy_bz+t.sf_bz  as   xz_bz,

            decode(t.jgtype, 'sy', t.qebk_bz, 0)      qebk_bz,
            decode(t.jgtype, 'sy', t.cebt_bz, 0)      cebt_bz,
            decode(t.jgtype, 'sy', t.jfzl_bz, 0)      jfzl_bz


            from geocode d
            left join V_bzzz t on d.code = t.geocode and t.jgtype != 'sy'
            where d.code like #{depcode}

            ) a


            union all
            select geocode,
            a.jgtype as jgtype,
            xz_bz    as DZQ_BZ,
            qebk_bz   as QEBK_BZ,
            cebt_bz   as CEBT_BZ,
            jfzl_bz   as JFZL_BZ
            from (
            select d.code as                            geocode,
            t.jgtype,
            0      as                            xz_bz,

            decode(t.jgtype, 'sy', t.qebk_bz, 0) qebk_bz,
            decode(t.jgtype, 'sy', t.cebt_bz, 0) cebt_bz,
            decode(t.jgtype, 'sy', t.jfzl_bz, 0) jfzl_bz


            from geocode d
            left join V_bzzz t on d.code = t.geocode and t.jgtype = 'sy'
            where d.code like #{depcode}

            ) a
            ) rs  left join geo_situation geo on geo.depcode=rs.geocode) res
            group by geocode
            order by geocode


        </otherwise>
        </choose>


    </select>

</mapper>