<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gxzh.jxvueserver.mapper.HomeMapper">
    <select id="selectSydwpie" resultType="com.gxzh.jxvueserver.dto.SydwPie">
        select *
        from (select jgsy_system_code, count(*) jgcount
              from jgsy_common jc
              where jc.jgsy_states = '1'
                and jc.jgsy_type = '12'
                and jc.dep_code like #{depCode}
              group by ROLLUP (jc.jgsy_system_code)) pivot(sum(jgcount)
    for jgsy_system_code in('' AS zj,
                            '01' AS dw,
                            '02' AS rd,
                            '03' AS zf,
                            '04' AS zx,
                            '07' AS fy,
                            '08' AS jcy,
                            '06' AS qt,
                            '05' AS mzdp))
    </select>

    <select id="selectXzjgpie" resultType="com.gxzh.jxvueserver.dto.XzjgPie">
        select *
        from (select jgsy_system_code, count(*) jgcount
              from jgsy_common jc
              where jc.jgsy_states = '1'
                and jc.jgsy_type in ('04', '06', '10')
                and jc.dep_code like #{depCode}
              group by ROLLUP (jc.jgsy_system_code)) pivot(sum(jgcount)
    for jgsy_system_code in('' AS zj,
                            '01' AS dw,
                            '02' AS rd,
                            '03' AS zf,
                            '04' AS zx,
                            '07' AS fy,
                            '08' AS jcy,
                            '06' AS qt,
                            '05' AS mzdp))
    </select>

    <select id="selectBzqk" resultType="com.gxzh.jxvueserver.dto.Bzqk">
        select sum(xz_bz) xz_bz,
               sum(xz_zz) xz_zz,
               sum(sy_bz)  sy_bz,
               sum(sy_zz)  sy_zz,
               sum(xz_dfp) xz_dfp,
               sum(sy_dfp) sy_dfp,
               sum(dzq_bz) dzq_bz,
               sum(dzq_zz) dzq_zz,
               sum(zf_bz)  zf_bz,
               sum(zf_zz)  zf_zz,
               sum(dzq_dfp) dzq_dfp,
               sum(zf_dfp) zf_dfp
        from (select sum(dzq_bz+ga_bz+jcy_bz+fy_bz+sf_bz)                      xz_bz,
                     sum(dzq_zz+ga_zz+jcy_zz+fy_zz+sf_zz)                      xz_zz,
                     sum(qebk_bz + cebt_bz + jfzl_bz) sy_bz,
                     sum(qebk_zz + cebt_zz + jfzl_zz) sy_zz,
                     0 as                             xz_dfp,
                     0 as                             sy_dfp,

                     sum(dzq_bz)         dzq_bz,
                     sum(dzq_zz)         dzq_zz,
                     sum(ga_bz+jcy_bz+fy_bz+sf_bz)         zf_bz,
                     sum(ga_zz+jcy_zz+fy_zz+sf_zz)         zf_zz,
                     0 as                             dzq_dfp,
                     0 as                             zf_dfp
              from v_bzzz
              where geocode like #{depCode}
              union all

              select 0 as     xz_bz,
                     0 as     xz_zz,
                     0 as     sy_bz,
                     0 as     sy_zz,
                     sum(case
                             when jgsy_system_code in ('xz_dfp','ga_dfp','jcy_dfp','fy_dfp','sf_dfp','jy_dfp','qj_dfp') then
                                 bz
                             else
                                 0
                         end) xz_dfp,
                     sum(case
                             when jgsy_system_code in
                                  ('qebk_dfp', 'jfzl_dfp', 'cebt_dfp') then
                                 bz
                             else
                                 0
                         end) sy_dfp,
                     0        dzq_bz,
                    0         dzq_zz,
                     0        zf_bz,
                     0         zf_zz,
                     sum(case
                             when jgsy_system_code = 'xz_dfp' then
                                 bz
                             else
                                 0
                         end) as                             dzq_dfp,
                     sum(case
                             when jgsy_system_code in ('ga_dfp','jcy_dfp','fy_dfp','sf_dfp','jy_dfp','qj_dfp') then
                                 bz
                             else
                                 0
                         end) as                             zf_dfp
              from V_TONGJI_DFPBZ_tjb t
              where dep_code like #{depCode})

    </select>

    <select id="selectXzLdzs" resultType="com.gxzh.jxvueserver.dto.Ldzs">
        select sum(
                                vv.sbjzzbz + vv.sbjfzbz + vv.tjjzzbz + vv.tjjfzbz + vv.xcjzzbz +
                                vv.xcjfzbz + vv.xkjzzbz + vv.xkjfzbz + vv.gjzzbz + vv.gjfzbz +
                                vv.wdjbzs + vv.qtbzs
            )        ldbz,
               sum(
                                vv.sbjzzzz + vv.sbjfzzz + vv.tjjzzzz + vv.tjjfzzz + vv.xcjzzzz +
                                vv.xcjfzzz + vv.xkjzzzz + vv.xkjfzzz + vv.gjzzzz + vv.gjfzzz +
                                vv.wdjzzs + vv.qtzzs
                   ) ldzz

        from bmldzs vv
                 left join jgsy_common jc
                           on jc.jgsy_code = vv.jgsy_code
        where jc.jgsy_type in ('04', '06', '10')
          and jc.jgsy_states = '1'
          and jc.dep_code like #{depCode}

    </select>

    <select id="selectSyLdzs" resultType="com.gxzh.jxvueserver.dto.Ldzs">
        select sum(
                                vv.sbjzzbz + vv.sbjfzbz + vv.tjjzzbz + vv.tjjfzbz + vv.xcjzzbz +
                                vv.xcjfzbz + vv.xkjzzbz + vv.xkjfzbz + vv.gjzzbz + vv.gjfzbz +
                                vv.wdjbzs + vv.qtbzs
            )        ldbz,
               sum(
                                vv.sbjzzzz + vv.sbjfzzz + vv.tjjzzzz + vv.tjjfzzz + vv.xcjzzzz +
                                vv.xcjfzzz + vv.xkjzzzz + vv.xkjfzzz + vv.gjzzzz + vv.gjfzzz +
                                vv.wdjzzs + vv.qtzzs
                   ) ldzz

        from bmldzs vv
                 left join jgsy_common jc
                           on jc.jgsy_code = vv.jgsy_code
        where jc.jgsy_type = '12'
          and jc.jgsy_states = '1'
          and jc.dep_code like #{depCode}

    </select>

    <select id="testbase" resultType="string">
        select jgsy_name
        from jgsy_common
        where jgsy_code = '150000-01-10001'
    </select>
    <select id="getGeoSituation" resultType="com.gxzh.jxvueserver.dto.GeoSituation">
        select *
        from geo_situation
        where depcode = #{depCode}
    </select>

    <select id="selectXzjgLdzsChild" resultType="com.gxzh.jxvueserver.dto.XzjgLdzsChild">
        <choose>
        <when test="ldzstype=='bz'">
            select

            '省部级正职数' as ldzsname,
            sum(vv.sbjzzbz) as ldzscount
            from bmldzs vv
            left join jgsy_common jc
            on jc.jgsy_code = vv.jgsy_code
            where jc.jgsy_type in ('04', '06', '10')
            and jc.jgsy_states = '1'
            and jc.dep_code like #{depCode}
            union all
            select

            '省部级副职数' as ldzsname,
            sum(vv.sbjfzbz) as ldzscount
            from bmldzs vv
            left join jgsy_common jc
            on jc.jgsy_code = vv.jgsy_code
            where jc.jgsy_type in ('04', '06', '10')
            and jc.jgsy_states = '1'
            and jc.dep_code like #{depCode}
            union all
            select

            '厅局级正职数' as ldzsname,
            sum(vv.tjjzzbz) as ldzscount
            from bmldzs vv
            left join jgsy_common jc
            on jc.jgsy_code = vv.jgsy_code
            where jc.jgsy_type in ('04', '06', '10')
            and jc.jgsy_states = '1'
            and jc.dep_code like #{depCode}
            union all
            select

            '厅局级副职数' as ldzsname,
            sum(vv.tjjfzbz) as ldzscount
            from bmldzs vv
            left join jgsy_common jc
            on jc.jgsy_code = vv.jgsy_code
            where jc.jgsy_type in ('04', '06', '10')
            and jc.jgsy_states = '1'
            and jc.dep_code like #{depCode}
            union all
            select

            '县处级正职数' as ldzsname,
            sum(vv.xcjzzbz) as ldzscount
            from bmldzs vv
            left join jgsy_common jc
            on jc.jgsy_code = vv.jgsy_code
            where jc.jgsy_type in ('04', '06', '10')
            and jc.jgsy_states = '1'
            and jc.dep_code like #{depCode}
            union all
            select

            '县处级副职数' as ldzsname,
            sum(vv.xcjfzbz) as ldzscount
            from bmldzs vv
            left join jgsy_common jc
            on jc.jgsy_code = vv.jgsy_code
            where jc.jgsy_type in ('04', '06', '10')
            and jc.jgsy_states = '1'
            and jc.dep_code like #{depCode}
            union all
            select

            '乡科级正职数' as ldzsname,
            sum(vv.xkjzzbz) as ldzscount
            from bmldzs vv
            left join jgsy_common jc
            on jc.jgsy_code = vv.jgsy_code
            where jc.jgsy_type in ('04', '06', '10')
            and jc.jgsy_states = '1'
            and jc.dep_code like #{depCode}
            union all
            select

            '乡科级副职数' as ldzsname,
            sum(vv.xkjfzbz) as ldzscount
            from bmldzs vv
            left join jgsy_common jc
            on jc.jgsy_code = vv.jgsy_code
            where jc.jgsy_type in ('04', '06', '10')
            and jc.jgsy_states = '1'
            and jc.dep_code like #{depCode}
            union all
            select

            '股级正职数' as ldzsname,
            sum(vv.gjzzbz) as ldzscount
            from bmldzs vv
            left join jgsy_common jc
            on jc.jgsy_code = vv.jgsy_code
            where jc.jgsy_type in ('04', '06', '10')
            and jc.jgsy_states = '1'
            and jc.dep_code like #{depCode}
            union all
            select

            '股级副职数' as ldzsname,
            sum(vv.gjfzbz) as ldzscount
            from bmldzs vv
            left join jgsy_common jc
            on jc.jgsy_code = vv.jgsy_code
            where jc.jgsy_type in ('04', '06', '10')
            and jc.jgsy_states = '1'
            and jc.dep_code like #{depCode}
            union all
            select

            '未定级领导职数' as ldzsname,
            sum(vv.wdjbzs) as ldzscount
            from bmldzs vv
            left join jgsy_common jc
            on jc.jgsy_code = vv.jgsy_code
            where jc.jgsy_type in ('04', '06', '10')
            and jc.jgsy_states = '1'
            and jc.dep_code like #{depCode}
            union all
            select

            '其他领导职数' as ldzsname,
            sum(vv.qtbzs) as ldzscount
            from bmldzs vv
            left join jgsy_common jc
            on jc.jgsy_code = vv.jgsy_code
            where jc.jgsy_type in ('04', '06', '10')
            and jc.jgsy_states = '1'
            and jc.dep_code like #{depCode}
        </when>
<otherwise>
    select

    '省部级正职在职数' as ldzsname,
    sum(vv.sbjzzzz) as ldzscount
    from bmldzs vv
    left join jgsy_common jc
    on jc.jgsy_code = vv.jgsy_code
    where jc.jgsy_type in ('04', '06', '10')
    and jc.jgsy_states = '1'
    and jc.dep_code like #{depCode}
    union all
    select

    '省部级副职在职数' as ldzsname,
    sum(vv.sbjfzzz) as ldzscount
    from bmldzs vv
    left join jgsy_common jc
    on jc.jgsy_code = vv.jgsy_code
    where jc.jgsy_type in ('04', '06', '10')
    and jc.jgsy_states = '1'
    and jc.dep_code like #{depCode}
    union all
    select

    '厅局级正职在职数' as ldzsname,
    sum(vv.tjjzzzz) as ldzscount
    from bmldzs vv
    left join jgsy_common jc
    on jc.jgsy_code = vv.jgsy_code
    where jc.jgsy_type in ('04', '06', '10')
    and jc.jgsy_states = '1'
    and jc.dep_code like #{depCode}
    union all
    select

    '厅局级副职在职数' as ldzsname,
    sum(vv.tjjfzzz) as ldzscount
    from bmldzs vv
    left join jgsy_common jc
    on jc.jgsy_code = vv.jgsy_code
    where jc.jgsy_type in ('04', '06', '10')
    and jc.jgsy_states = '1'
    and jc.dep_code like #{depCode}
    union all
    select

    '县处级正职在职数' as ldzsname,
    sum(vv.xcjzzzz) as ldzscount
    from bmldzs vv
    left join jgsy_common jc
    on jc.jgsy_code = vv.jgsy_code
    where jc.jgsy_type in ('04', '06', '10')
    and jc.jgsy_states = '1'
    and jc.dep_code like #{depCode}
    union all
    select

    '县处级副职在职数' as ldzsname,
    sum(vv.xcjfzzz) as ldzscount
    from bmldzs vv
    left join jgsy_common jc
    on jc.jgsy_code = vv.jgsy_code
    where jc.jgsy_type in ('04', '06', '10')
    and jc.jgsy_states = '1'
    and jc.dep_code like #{depCode}
    union all
    select

    '乡科级正职在职数' as ldzsname,
    sum(vv.xkjzzzz) as ldzscount
    from bmldzs vv
    left join jgsy_common jc
    on jc.jgsy_code = vv.jgsy_code
    where jc.jgsy_type in ('04', '06', '10')
    and jc.jgsy_states = '1'
    and jc.dep_code like #{depCode}
    union all
    select

    '乡科级副职在职数' as ldzsname,
    sum(vv.xkjfzzz) as ldzscount
    from bmldzs vv
    left join jgsy_common jc
    on jc.jgsy_code = vv.jgsy_code
    where jc.jgsy_type in ('04', '06', '10')
    and jc.jgsy_states = '1'
    and jc.dep_code like #{depCode}
    union all
    select

    '股级正职在职数' as ldzsname,
    sum(vv.gjzzzz) as ldzscount
    from bmldzs vv
    left join jgsy_common jc
    on jc.jgsy_code = vv.jgsy_code
    where jc.jgsy_type in ('04', '06', '10')
    and jc.jgsy_states = '1'
    and jc.dep_code like #{depCode}
    union all
    select

    '股级副职在职数' as ldzsname,
    sum(vv.gjfzzz) as ldzscount
    from bmldzs vv
    left join jgsy_common jc
    on jc.jgsy_code = vv.jgsy_code
    where jc.jgsy_type in ('04', '06', '10')
    and jc.jgsy_states = '1'
    and jc.dep_code like #{depCode}
    union all
    select

    '未定级在职数' as ldzsname,
    sum(vv.wdjzzs) as ldzscount
    from bmldzs vv
    left join jgsy_common jc
    on jc.jgsy_code = vv.jgsy_code
    where jc.jgsy_type in ('04', '06', '10')
    and jc.jgsy_states = '1'
    and jc.dep_code like #{depCode}
    union all
    select

    '其他在职数' as ldzsname,
    sum(vv.qtzzs) as ldzscount
    from bmldzs vv
    left join jgsy_common jc
    on jc.jgsy_code = vv.jgsy_code
    where jc.jgsy_type in ('04', '06', '10')
    and jc.jgsy_states = '1'
    and jc.dep_code like #{depCode}

</otherwise>
        </choose>

    </select>

    <select id="selectSyjgLdzsChild" resultType="com.gxzh.jxvueserver.dto.SyjgLdzsChild">
        <choose>
            <when test="ldzstype=='bz'">
                select

                '省部级正职数' as ldzsname,
                sum(vv.sbjzzbz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '省部级副职数' as ldzsname,
                sum(vv.sbjfzbz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '厅局级正职数' as ldzsname,
                sum(vv.tjjzzbz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '厅局级副职数' as ldzsname,
                sum(vv.tjjfzbz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '县处级正职数' as ldzsname,
                sum(vv.xcjzzbz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '县处级副职数' as ldzsname,
                sum(vv.xcjfzbz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '乡科级正职数' as ldzsname,
                sum(vv.xkjzzbz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '乡科级副职数' as ldzsname,
                sum(vv.xkjfzbz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '股级正职数' as ldzsname,
                sum(vv.gjzzbz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '股级副职数' as ldzsname,
                sum(vv.gjfzbz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '未定级领导职数' as ldzsname,
                sum(vv.wdjbzs) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '其他领导职数' as ldzsname,
                sum(vv.qtbzs) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
            </when>
            <otherwise>
                select

                '省部级正职在职数' as ldzsname,
                sum(vv.sbjzzzz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '省部级副职在职数' as ldzsname,
                sum(vv.sbjfzzz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '厅局级正职在职数' as ldzsname,
                sum(vv.tjjzzzz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '厅局级副职在职数' as ldzsname,
                sum(vv.tjjfzzz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '县处级正职在职数' as ldzsname,
                sum(vv.xcjzzzz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '县处级副职在职数' as ldzsname,
                sum(vv.xcjfzzz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '乡科级正职在职数' as ldzsname,
                sum(vv.xkjzzzz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '乡科级副职在职数' as ldzsname,
                sum(vv.xkjfzzz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '股级正职在职数' as ldzsname,
                sum(vv.gjzzzz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '股级副职在职数' as ldzsname,
                sum(vv.gjfzzz) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '未定级在职数' as ldzsname,
                sum(vv.wdjzzs) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}
                union all
                select

                '其他在职数' as ldzsname,
                sum(vv.qtzzs) as ldzscount
                from bmldzs vv
                left join jgsy_common jc
                on jc.jgsy_code = vv.jgsy_code
                where jc.jgsy_type = '12'
                and jc.jgsy_states = '1'
                and jc.dep_code like #{depCode}

            </otherwise>
        </choose>

    </select>
    <select id="selectXzjgPieChild" resultType="com.gxzh.jxvueserver.dto.XzjgPieChild">
        select jc.jgsy_name as jgname
        from jgsy_common jc
        where jc.jgsy_states = '1'
          and jc.jgsy_type in ('04', '06', '10')
          and jc.dep_code like #{depCode}
          and jgsy_system_code = #{depName}


    </select>

    <select id="selectSydwPieChild" resultType="com.gxzh.jxvueserver.dto.SydwPieChild">
        select jc.jgsy_name as jgname
        from jgsy_common jc
        where jc.jgsy_states = '1'
          and jc.jgsy_type = '12'
          and jc.dep_code like #{depCode}
          and jgsy_system_code = #{depName}


    </select>

    <select id="selectXzjgLdzsChildDetail" resultType="com.gxzh.jxvueserver.dto.XzjgLdzsChildDetail" parameterType="String">

                 select jc.jgsy_name as ldzsname,
                        ${doquery}   as ldzscount
                 from bmldzs vv
                          left join jgsy_common jc
                                    on jc.jgsy_code = vv.jgsy_code
                 where jc.jgsy_type in ('04', '06', '10')
                   and jc.jgsy_states = '1'
                   and jc.dep_code like #{depCode}
                   and ${doquery} !=0

    </select>


    <select id="selectSydwLdzsChildDetail" resultType="com.gxzh.jxvueserver.dto.SydwLdzsChildDetail" parameterType="String">

        select jc.jgsy_name as ldzsname,
               ${doquery}   as ldzscount
        from bmldzs vv
                 left join jgsy_common jc
                           on jc.jgsy_code = vv.jgsy_code
        where jc.jgsy_type = '12'
          and jc.jgsy_states = '1'
          and jc.dep_code like #{depCode}
          and ${doquery} !=0

    </select>


    <select id="selectBzqk_fc" resultType="com.gxzh.jxvueserver.dto.Bzqk_fc" >
        <choose>
            <when test="type=='xzbz'">
                select
                (select desp
                from geocode g
                where g.code = geocode) desp,
                jgsy_name as jgname ,
                (select dcl.code_chin_name from DICT_CODE_LIB dcl where dcl.code_value = jgsy_system_code and dcl.code_type_no = '40') jgsy_system_code,
                decode(jgtype,
                'local',
                '行政',
                'lo_next',
                '下设',
                'sy',
                '事业',
                'jdxz',
                '街道乡镇')jgtype,
                dzq_bz+ga_bz+jcy_bz+fy_bz+sf_bz as bzsy
                from v_bzzz where
                jgtype in ('local','lo_next','jdxz')
                and geocode like #{depCode}
                and dzq_bz+ga_bz+jcy_bz+fy_bz+sf_bz !=0  order by geocode
            </when>
            <when test="type=='xzzz'">
                select
                (select desp
                from geocode g
                where g.code = geocode) desp,
                jgsy_name as jgname,
                (select dcl.code_chin_name from DICT_CODE_LIB dcl where dcl.code_value = jgsy_system_code and dcl.code_type_no = '40') jgsy_system_code,
                decode(jgtype,
                'local',
                '行政',
                'lo_next',
                '下设',
                'sy',
                '事业',
                'jdxz',
                '街道乡镇')jgtype,
                dzq_zz+ga_zz+jcy_zz+fy_zz+sf_zz as bzsy
                from v_bzzz where
                jgtype in ('local','lo_next','jdxz')
                and geocode like #{depCode} and dzq_zz+ga_zz+jcy_zz+fy_zz+sf_zz !=0  order by geocode
            </when>

        </choose>
    </select>


    <select id="getXzjgBzsChildDfp" resultType="com.gxzh.jxvueserver.dto.XzjgBzsChildDfp" >
        select
            decode(zhxsh,
                   '100', '    直辖市','101','    直辖市属区','101201','    直辖市街道','000','省、自治区',
                   '001','地州盟合计', '002','    副省级市','004','    副省级市属区','004201','    副省级市街道',
                   '003','    地级市', '005','    地级市属区','005201','    地级市街道','006','    县级市','006201','    县级市街道',
                   '007', '    县', '007201', '    县街道','111','乡镇合计','008','省以下垂管（省级统一管理）'
                ) as cj




             ,sum(bz)  as num   from V_TONGJI_DFPBZ_tjb t where dep_code like #{depCode} and  jgsy_system_code in ('xz_dfp','ga_dfp','jcy_dfp','fy_dfp','sf_dfp','jy_dfp','qj_dfp')
        group by zhxsh order by zhxsh
    </select>


    <select id="selectBzqk_sy" resultType="com.gxzh.jxvueserver.dto.Bzqk_fc_sy" >
        <choose>
            <when test="type=='sybz'">
                select
                (select desp
                from geocode g
                where g.code = geocode) desp,
                jgsy_name as jgname,
                (select dcl.code_chin_name from DICT_CODE_LIB dcl where dcl.code_value = jgsy_system_code and dcl.code_type_no = '40') jgsy_system_code,
                (select dcl.code_chin_name from DICT_CODE_LIB dcl where dcl.code_value = jfxs and dcl.code_type_no = 'z6') jfxs,
                (select h.hyfl_name from HYFL h where h.hyfl_code = sydwhyfl) sydwhyfl,
                (select dcl.code_chin_name from DICT_CODE_LIB dcl where dcl.code_value = SYDWLX and dcl.code_type_no = 'z3') sydwlx,
                qebk_bz + cebt_bz + jfzl_bz as bzsy
                from v_bzzz t left join sy s on t.jgsy_code=s.jgsy_code
                where  geocode like #{depCode} and qebk_bz + cebt_bz + jfzl_bz !=0
                order by geocode
            </when>
            <when test="type=='syzz'">
                select
                (select desp
                from geocode g
                where g.code = geocode) desp,
                jgsy_name as jgname,
                (select dcl.code_chin_name from DICT_CODE_LIB dcl where dcl.code_value = jgsy_system_code and dcl.code_type_no = '40') jgsy_system_code,
                (select dcl.code_chin_name from DICT_CODE_LIB dcl where dcl.code_value = jfxs and dcl.code_type_no = 'z6') jfxs,
                (select h.hyfl_name from HYFL h where h.hyfl_code = sydwhyfl) sydwhyfl,
                (select dcl.code_chin_name from DICT_CODE_LIB dcl where dcl.code_value = SYDWLX and dcl.code_type_no = 'z3') sydwlx,
                qebk_zz + cebt_zz + jfzl_zz as bzsy
                from v_bzzz t left join sy s on t.jgsy_code=s.jgsy_code
                where  geocode like #{depCode} and qebk_zz + cebt_zz + jfzl_zz !=0
                order by geocode
            </when>

        </choose>
    </select>


    <select id="getSydwBzsChildDfp" resultType="com.gxzh.jxvueserver.dto.SydwBzsChildDfp" >
        select


            decode(zhxsh,
                   '100', '    直辖市','101','    直辖市属区','101201','    直辖市街道','000','省、自治区',
                   '001','地州盟合计', '002','    副省级市','004','    副省级市属区','004201','    副省级市街道',
                   '003','    地级市', '005','    地级市属区','005201','    地级市街道','006','    县级市','006201','    县级市街道',
                   '007', '    县', '007201', '    县街道','111','乡镇合计','008','省以下垂管（省级统一管理）'
                ) as cj
             ,sum(bz) as num    from V_TONGJI_DFPBZ_tjb t where dep_code like #{depCode} and  jgsy_system_code in  ('qebk_dfp', 'jfzl_dfp', 'cebt_dfp')


        group by zhxsh order by zhxsh
    </select>


    <select id="selectDzq_fc" resultType="com.gxzh.jxvueserver.dto.Dzq_fc" >
        <choose>
            <when test="type=='dzqbz'">
                select
                (select desp
                from geocode g
                where g.code = geocode) desp,
                jgsy_name as jgname ,
                (select dcl.code_chin_name from DICT_CODE_LIB dcl where dcl.code_value = jgsy_system_code and dcl.code_type_no = '40') jgsy_system_code,
                decode(jgtype,
                'local',
                '行政',
                'lo_next',
                '下设',
                'sy',
                '事业',
                'jdxz',
                '街道乡镇')jgtype,
                dzq_bz as bzsy
                from v_bzzz where
                jgtype in ('local','lo_next','jdxz')
                and geocode like #{depCode}
                and dzq_bz !=0  order by geocode
            </when>
            <when test="type=='dzqzz'">
                select
                (select desp
                from geocode g
                where g.code = geocode) desp,
                jgsy_name as jgname,
                (select dcl.code_chin_name from DICT_CODE_LIB dcl where dcl.code_value = jgsy_system_code and dcl.code_type_no = '40') jgsy_system_code,
                decode(jgtype,
                'local',
                '行政',
                'lo_next',
                '下设',
                'sy',
                '事业',
                'jdxz',
                '街道乡镇')jgtype,
                dzq_zz as bzsy
                from v_bzzz where
                jgtype in ('local','lo_next','jdxz')
                and geocode like #{depCode} and dzq_zz !=0  order by geocode
            </when>

        </choose>
    </select>

    <select id="selectZf_fc" resultType="com.gxzh.jxvueserver.dto.Zf_fc" >
        <choose>
            <when test="type=='zfbz'">
                select
                (select desp
                from geocode g
                where g.code = geocode) desp,
                jgsy_name as jgname ,
                (select dcl.code_chin_name from DICT_CODE_LIB dcl where dcl.code_value = jgsy_system_code and dcl.code_type_no = '40') jgsy_system_code,
                decode(jgtype,
                'local',
                '行政',
                'lo_next',
                '下设',
                'sy',
                '事业',
                'jdxz',
                '街道乡镇')jgtype,
                nvl(ga_bz,0) as ga,
                nvl(jcy_bz,0) as jcy,
                nvl(fy_bz,0) as fy,
                nvl(sf_bz,0) as sf
                from v_bzzz where
                jgtype in ('local','lo_next','jdxz')
                and geocode like #{depCode}
                and ga_bz+jcy_bz+ fy_bz+sf_bz !=0  order by geocode
            </when>
            <when test="type=='zfzz'">
                select
                (select desp
                from geocode g
                where g.code = geocode) desp,
                jgsy_name as jgname,
                (select dcl.code_chin_name from DICT_CODE_LIB dcl where dcl.code_value = jgsy_system_code and dcl.code_type_no = '40') jgsy_system_code,
                decode(jgtype,
                'local',
                '行政',
                'lo_next',
                '下设',
                'sy',
                '事业',
                'jdxz',
                '街道乡镇')jgtype,
                nvl(ga_zz,0) as ga,
                nvl(jcy_zz,0) as jcy,
                nvl(fy_zz,0) as fy,
                nvl(sf_zz,0) as sf
                from v_bzzz where
                jgtype in ('local','lo_next','jdxz')
                and geocode like #{depCode} and ga_zz+jcy_zz+ fy_zz+sf_zz !=0  order by geocode
            </when>

        </choose>
    </select>

    <select id="getDzqChildDfp" resultType="com.gxzh.jxvueserver.dto.DzqChildDfp" >
        select
            decode(zhxsh,
                   '100', '    直辖市','101','    直辖市属区','101201','    直辖市街道','000','省、自治区',
                   '001','地州盟合计', '002','    副省级市','004','    副省级市属区','004201','    副省级市街道',
                   '003','    地级市', '005','    地级市属区','005201','    地级市街道','006','    县级市','006201','    县级市街道',
                   '007', '    县', '007201', '    县街道','111','乡镇合计','008','省以下垂管（省级统一管理）'
                ) as cj




             ,sum(bz)  as num   from V_TONGJI_DFPBZ_tjb t where dep_code like #{depCode} and  jgsy_system_code = 'xz_dfp'
        group by zhxsh order by zhxsh
    </select>

    <select id="getZfChildDfp" resultType="com.gxzh.jxvueserver.dto.ZfChildDfp" >
        select
            decode(zhxsh,
                   '100', '    直辖市','101','    直辖市属区','101201','    直辖市街道','000','省、自治区',
                   '001','地州盟合计', '002','    副省级市','004','    副省级市属区','004201','    副省级市街道',
                   '003','    地级市', '005','    地级市属区','005201','    地级市街道','006','    县级市','006201','    县级市街道',
                   '007', '    县', '007201', '    县街道','111','乡镇合计','008','省以下垂管（省级统一管理）'
                ) as cj




                ,
            sum(case
                    when jgsy_system_code  ='ga_dfp' then
                        bz
                    else
                        0
                end) ga_dfp,
            sum(case
                    when jgsy_system_code  ='jcy_dfp' then
                        bz
                    else
                        0
                end) jcy_dfp,
            sum(case
                    when jgsy_system_code  ='fy_dfp' then
                        bz
                    else
                        0
                end) fy_dfp,
            sum(case
                    when jgsy_system_code  in ('sf_dfp','jy_dfp','qj_dfp')  then
                        bz
                    else
                        0
                end) sf_dfp

        from V_TONGJI_DFPBZ_tjb t where dep_code like #{depCode}
        group by zhxsh order by zhxsh
    </select>
</mapper>