<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.gxzh.jxvueserver.mapper.WtyjMapper">
    <select id="selectCbz" resultType="com.gxzh.jxvueserver.entity.Cbz" parameterType="java.lang.String">
        <choose>
            <when test="depcode.length()==3">
                select

                decode((substr(geocode,0,4)||'00'),#{code},(select desp from geocode g where g.code = (substr(geocode,0,4)||'00'))||'(本级)',(select desp from geocode g where g.code = (substr(geocode,0,4)||'00'))) as desp,
                (select decode(substr(code, 5, 2), '00', 0, g.dis_order)
                from geocode g
                where g.code = (substr(geocode,0,4)||'00'))  as dis_order
                ,
                sum(case when chaobz&gt;0  then chaobz else 0 end) as chaobz,
                sum(case when chaozs&gt;0 then chaozs else 0 end) as chaozs,
                sum(case when chaojg&gt;0 then chaojg else 0 end)  as chaojg


                from (select
                g.code as  geocode,
                decode(jgtype,
                'local',
                '主管部门',
                'sy',
                '事业单位',
                'lo_next',
                '下设机构',
                '街道乡镇') as jgsy_type,
                (synsjgs - pznsjgs) as chaojg,
                (case
                when jgtype = 'sy' then
                (qebk_zz + cebt_zz + jfzl_zz + ga_zz + jcy_zz + fy_zz +
                sf_zz + aq_zz) - (qebk_bz + cebt_bz + jfzl_bz + ga_bz +
                jcy_bz + fy_bz + sf_bz + aq_bz)
                else
                (qebk_zz + cebt_zz + jfzl_zz + dzq_zz + ga_zz + jcy_zz +
                fy_zz + sf_zz + aq_zz) -
                (qebk_bz + cebt_bz + jfzl_bz + dzq_bz + ga_bz + jcy_bz +
                fy_bz + sf_bz + aq_bz)
                end) chaobz,
                (l_r_l1_nu - l_a_l1_nu) as chaozs
                from geocode g left join v_bzzz v  on g.code= v.geocode where geocode like #{depcode}  ) where  chaobz!=0 or chaozs!=0 or chaojg!=0
                group by substr(geocode,0,4)
                order by substr(geocode,0,4)
            </when>
            <otherwise>
                select
                decode(geocode,#{code},(select desp from geocode g where g.code = geocode)||'(本级)',(select desp from geocode g where g.code = geocode)) as desp,
                (select decode(substr(code, 5, 2), '00', 0, g.dis_order)
                from geocode g
                where g.code = geocode)  as dis_order
                ,
                sum(case when chaobz&gt;0 then chaobz else 0 end) as chaobz,
                sum(case when chaozs&gt;0 then chaozs else 0 end) as chaozs,
                sum(case when chaojg&gt;0 then chaojg else 0 end)  as chaojg


                from (select
                g.code as  geocode,
                decode(jgtype,
                'local',
                '主管部门',
                'sy',
                '事业单位',
                'lo_next',
                '下设机构',
                '街道乡镇') as jgsy_type,
                (synsjgs - pznsjgs) as chaojg,
                (case
                when jgtype = 'sy' then
                (qebk_zz + cebt_zz + jfzl_zz + ga_zz + jcy_zz + fy_zz +
                sf_zz + aq_zz) - (qebk_bz + cebt_bz + jfzl_bz + ga_bz +
                jcy_bz + fy_bz + sf_bz + aq_bz)
                else
                (qebk_zz + cebt_zz + jfzl_zz + dzq_zz + ga_zz + jcy_zz +
                fy_zz + sf_zz + aq_zz) -
                (qebk_bz + cebt_bz + jfzl_bz + dzq_bz + ga_bz + jcy_bz +
                fy_bz + sf_bz + aq_bz)
                end) chaobz,
                (l_r_l1_nu - l_a_l1_nu) as chaozs
                from geocode g left join v_bzzz v  on g.code= v.geocode where geocode like #{depcode}  ) where  chaobz!=0 or chaozs!=0 or chaojg!=0
                group by geocode
                order by geocode
            </otherwise>
        </choose>


    </select>


    <select id="selectYwtjg" resultType="com.gxzh.jxvueserver.entity.Ywtjg" parameterType="java.lang.String">
        select (select desp from geocode where code = j.dep_code)                 as desp,
               jgsy_name                                                          as jgsy_name,

               decode(j.jgsy_chaojg, 0, '', '超机构 ') || decode(j.jgsy_chaobz, 0, '', '超编制 ') ||
               decode(j.jgsy_chaozs, 0, '', '超在职 ') || decode(xxws, '', '', '其他') as wt
        from jgsy_common j
        where jgsy_states = '1'
          and (j.jgsy_chaojg!=0 or j.jgsy_chaobz!=0 or j.jgsy_chaozs!=0 or j.xxws !='')
          and to_char(j.update_time, 'yyyy/mm/dd') in (SELECT to_char(SYSDATE - LEVEL + 1, 'yyyy/mm/dd') today FROM DUAL
        connect BY LEVEL &lt;= 31 )

               and j.dep_code like #{depcode}


    </select>


    <select id="selectAzwtlx" resultType="com.gxzh.jxvueserver.entity.Azwtlx" parameterType="java.lang.String">
        select
            nvl(sum(jgsz),0) as jgsz,nvl(sum(rybz),0) as rybz,nvl(sum(ldzspb),0) as ldzspb,nvl(sum(bzfals),0) as bzfals,nvl(sum(qt),0) as qt from GEO_AZWTLX t
        where depcode like #{depcode}

    </select>


    <select id="selectAzzgfs" resultType="com.gxzh.jxvueserver.entity.Azzgfs" parameterType="java.lang.String">

        select nvl(sum(zdzg),0) as zdzg,nvl(sum(bbzg),0) as bbzg,nvl(sum(zzzg),0) as zzzg from geo_azzgfs where depcode like #{depcode}

    </select>

    <select id="selectYwttz" resultType="com.gxzh.jxvueserver.entity.Ywttz" parameterType="java.lang.String">
        select nowmonth as nowmonth,nvl(m.xzqk,0) as xzqk,nvl(m.xhqk,0) as xhqk
        from (select to_char((add_months(sysdate - numtoyminterval(1, 'YEAR'), level)), 'yyyy/mm') nowmonth
              FROM DUAL connect BY LEVEL &lt;= 12)
            month left join
        (select to_char(y.time, 'yyyy/mm') as time,
       sum(y.xzqk) as xzqk,
       sum(y.xhqk) as xhqk
        from
        geo_ywttz y
        where  depcode like #{depcode}

            group by to_char(y.time
           , 'yyyy/mm')) m
        on month.nowmonth = m.time
        ORDER BY month.nowmonth



    </select>


    <select id="getextraPieChild" resultType="com.gxzh.jxvueserver.dto.WtyjJgsy">
        select jgsy_name, jgsy_type, dep_name
        <choose>
            <when test="jgsyNum == 1">
                , chaobz problem_num
            </when>
            <when test="jgsyNum == 2">
                , chaozs problem_num
            </when>
            <when test="jgsyNum == 3">
                , chaojg problem_num
            </when>
        </choose>
        from (select jgsy_code,
        jgsy_name,
        (select g.desp from geocode g where g.code = geocode) as dep_name,
        decode(jgtype,
        'local',
        '主管部门',
        'sy',
        '事业单位',
        'lo_next',
        '下设机构',
        '街道乡镇') as jgsy_type,
        (synsjgs - pznsjgs) as chaojg,
        (case
        when jgtype = 'sy' then
        (qebk_zz + cebt_zz + jfzl_zz + ga_zz + jcy_zz + fy_zz +
        sf_zz + aq_zz) - (qebk_bz + cebt_bz + jfzl_bz + ga_bz +
        jcy_bz + fy_bz + sf_bz + aq_bz)
        else
        (qebk_zz + cebt_zz + jfzl_zz + dzq_zz + ga_zz + jcy_zz +
        fy_zz + sf_zz + aq_zz) -
        (qebk_bz + cebt_bz + jfzl_bz + dzq_bz + ga_bz + jcy_bz +
        fy_bz + sf_bz + aq_bz)
        end) chaobz,
        (l_r_l1_nu - l_a_l1_nu) as chaozs
        from v_bzzz)
        where jgsy_code like #{depCode}
        <choose>
            <when test="jgsyNum == 1">
                and chaobz &gt; 0
            </when>
            <when test="jgsyNum == 2">
                and chaozs &gt; 0
            </when>
            <when test="jgsyNum == 3">
                and chaojg &gt; 0
            </when>
        </choose>
        order by jgsy_code
    </select>


    <select id="selectextraPieChildDetail" resultType="com.gxzh.jxvueserver.dto.WtyjJgsy">
        select jgsy_name, jgsy_type, dep_name
        <choose>
            <when test="classNum == 0">
                , chaobz problem_num
            </when>
            <when test="classNum == 1">
                , chaozs problem_num
            </when>
            <when test="classNum == 2">
                , chaojg problem_num
            </when>
        </choose>
        from (select jgsy_code,
        jgsy_name,
        (select g.desp from geocode g where g.code = geocode) as dep_name,
        decode(jgtype,
        'local',
        '主管部门',
        'sy',
        '事业单位',
        'lo_next',
        '下设机构',
        '街道乡镇') as jgsy_type,
        (synsjgs - pznsjgs) as chaojg,
        (case
        when jgtype = 'sy' then
        (qebk_zz + cebt_zz + jfzl_zz + ga_zz + jcy_zz + fy_zz +
        sf_zz + aq_zz) - (qebk_bz + cebt_bz + jfzl_bz + ga_bz +
        jcy_bz + fy_bz + sf_bz + aq_bz)
        else
        (qebk_zz + cebt_zz + jfzl_zz + dzq_zz + ga_zz + jcy_zz +
        fy_zz + sf_zz + aq_zz) -
        (qebk_bz + cebt_bz + jfzl_bz + dzq_bz + ga_bz + jcy_bz +
        fy_bz + sf_bz + aq_bz)
        end) chaobz,
        (l_r_l1_nu - l_a_l1_nu) as chaozs
        from v_bzzz)
        where jgsy_code
        <choose>
        <when test='depName.contains("本级")'>
            like (select g.code||'%' as  depcode
            from geocode g
            where g.desp = replace(#{depName},'(本级)'))

        </when>
        <otherwise>

            like (select (case
            when substr(g.code, 3, 4) = '0000' then
            substr(g.code, 0, 2) || '%'
            when substr(g.code, 5, 2) = '00' then
            substr(g.code, 0, 4) || '%'
            else
            g.code||'%'
            end) depcode
            from geocode g
            where g.desp = #{depName})

        </otherwise>
        </choose>


        <choose>
            <when test="classNum == 0">
                and chaobz &gt; 0
            </when>
            <when test="classNum == 1">
                and chaozs &gt; 0
            </when>
            <when test="classNum == 2">
                and chaojg &gt; 0
            </when>
        </choose>
        order by jgsy_code
    </select>


    <select id="selectLTX" resultType="com.gxzh.jxvueserver.dto.VtxPie" parameterType="java.lang.String">
        <choose>
            <when test="depCode.length()==3">
                select decode((substr(geocode, 0, 4) || '00'),
                #{code},
                (select desp
                from geocode g
                where g.code = (substr(geocode, 0, 4) || '00')) || '(本级)',
                (select desp
                from geocode g
                where g.code = (substr(geocode, 0, 4) || '00'))) as desp,
                (select decode(substr(code, 5, 2), '00', 0, g.dis_order)
                from geocode g
                where g.code = substr(geocode, 0, 4) || '00') dis_order,
                sum(vtxdata) as vtxdata

                from (select g.code as geocode,
                nvl(sum((case
                when ((t.xb = '1' and
                to_char(csrq, 'yyyymmdd') &lt;=
                to_char(add_months(sysdate, 12) - interval '60' year,
                'yyyymmdd'))
                or (xb = '2' and
                to_char(csrq, 'yyyymmdd') &lt;=
                to_char(add_months(sysdate, 12) - interval '55' year,
                'yyyymmdd') and zwjb > '132')

                or (xb = '2' and
                to_char(csrq, 'yyyymmdd') &lt;=
                to_char(add_months(sysdate, 12) - interval '60' year,
                'yyyymmdd') and zwjb &lt;= '132')) and
                t.states = 1 and (t.zbzt = '01' or t.zbzt like '02%') and
                zwjb not in ('111', '112', '121', '122') then
                1
                end)),
                0) vtxdata

                from geocode g
                left join t_ry_jbxx t
                on t.geocode = g.code
                left join jgsy_common j
                on t.jgsy_code = j.jgsy_code
                where g.code like #{depCode}
                group by g.code
                ) a
                group by substr(geocode, 0, 4)
                order by substr(geocode, 0, 4)
            </when>
            <otherwise>
                select decode(geocode, #{code},(select desp from geocode g where g.code = geocode)||'(本级)',(select desp from geocode g where g.code = geocode))  as desp,
                (select decode(substr(code, 5, 2), '00', 0, g.dis_order)
                from geocode g
                where g.code = substr(geocode, 0, 4) || '00') dis_order,
                sum(vtxdata) as vtxdata
                from (select g.code as geocode,
                nvl(sum((case
                when ((t.xb = '1' and
                to_char(csrq, 'yyyymmdd') &lt;=
                to_char(add_months(sysdate, 12) - interval '60' year,
                'yyyymmdd'))

                or (xb = '2' and
                to_char(csrq, 'yyyymmdd') &lt;=
                to_char(add_months(sysdate, 12) - interval '55' year,
                'yyyymmdd') and zwjb &gt; '132')

                or (xb = '2' and
                to_char(csrq, 'yyyymmdd') &lt;=
                to_char(add_months(sysdate, 12) - interval '60' year,
                'yyyymmdd') and zwjb &lt;= '132')) and
                t.states = 1 and (t.zbzt = '01' or t.zbzt like '02%') and
                zwjb not in ('111', '112', '121', '122') then
                1
                end)),
                0) vtxdata

                from geocode g
                left join t_ry_jbxx t
                on t.geocode = g.code
                left join jgsy_common j
                on t.jgsy_code = j.jgsy_code
                where g.code like #{depCode}
                group by g.code

                ) a
                group by geocode
                order by geocode

            </otherwise>
        </choose>
    </select>

    <select id="selectVTX_fc" resultType="com.gxzh.jxvueserver.dto.Vtx_fc" >
        select desp,jgname,jgsy_system_code,jgtype,num from (
        select
        (select desp
        from geocode g
        where g.code = t.geocode) desp,
        j.jgsy_name as jgname ,
        (select dcl.code_chin_name from DICT_CODE_LIB dcl where dcl.code_value = j.jgsy_system_code
        and dcl.code_type_no = '40') jgsy_system_code,
        decode(j.jgsy_type,'04','行政机构','06','下设机构','10','街道乡镇','12','事业单位')
        jgtype,
        nvl(sum((case
        when ((t.xb = '1' and
        to_char(csrq, 'yyyymmdd') &lt;=
        to_char(add_months(sysdate, 12) - interval '60' year,
        'yyyymmdd'))
        or (xb = '2' and
        to_char(csrq, 'yyyymmdd') &lt;=
        to_char(add_months(sysdate, 12) - interval '55' year,
        'yyyymmdd') and zwjb &gt; '132')

        or (xb = '2' and
        to_char(csrq, 'yyyymmdd') &lt;=
        to_char(add_months(sysdate, 12) - interval '60' year,
        'yyyymmdd') and zwjb &lt;= '132')) and
        t.states = 1 and (t.zbzt = '01' or t.zbzt like '02%') and
        zwjb not in ('111', '112', '121', '122') then
        1
        end)),
        0) num
        from
        t_ry_jbxx t left join jgsy_common j on t.jgsy_code = j.jgsy_code
        where t.geocode
        <choose>
            <when test='depName.contains("本级")'>
                like (select g.code||'%' as  depcode
                from geocode g
                where g.desp = replace(#{depName},'(本级)'))

            </when>
            <otherwise>

                like (select (case
                when substr(g.code, 3, 4) = '0000' then
                substr(g.code, 0, 2) || '%'
                when substr(g.code, 5, 2) = '00' then
                substr(g.code, 0, 4) || '%'
                else
                g.code||'%'
                end) depcode
                from geocode g
                where g.desp = #{depName})

            </otherwise>
        </choose>
        group by t.jgsy_code,j.jgsy_name,j.jgsy_type, t.geocode,j.jgsy_system_code ) where num!=0
    </select>

</mapper>